In [15]:
import pandas as pd 
import numpy as np

In [16]:
df = pd.read_csv('card_transactions.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364342 entries, 0 to 364341
Data columns (total 40 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         364342 non-null  int64
 1   payment_id                         364342 non-null  int64
 2   client_id                          364342 non-null  int64
 3   transaction_date                   364342 non-null  object
 4   amount_usd                         364342 non-null  float64
 5   card_scheme                        364342 non-null  object
 6   fraud                              364342 non-null  int64
 7   mcc                                364342 non-null  object
 8   transaction_lever                  364342 non-null  int64
 9   country_code                       364342 non-null  object
 10  issue_bank_code                    364342 non-null  float64
 11  card_type                          364342 non-null  object
 12  network_category                   79120 non-null   float64
 13  proxy_ip                           81937 non-null   object
 14  bin_score                          364342 non-null  float64
 15  ch_score                           364342 non-null  float64
 16  mouse_speed                        73802 non-null   float64
 17  cursor_velocity                    73802 non-null   float64
 18  tap_speed                          364342 non-null  float64
 19  scrolling_speed                    73802 non-null   float64
 20  network_latency                    321824 non-null  float64
 21  battery_score                      79325 non-null   float64
 22  bot_score                          79371 non-null   float64
 23  count_similar_addr1_L1D            364342 non-null  float64
 24  count_similar_addr2_L1D            364342 non-null  float64
 25  count_similar_addr3_L1M            364342 non-null  float64
 26  fraud_centrality                   313713 non-null  float64
 27  between_centrality                 364335 non-null  float64
 28  eigen_centrality                   364342 non-null  float64
 29  network_dist                       45563 non-null   float64
 30  anomaly_score                      321957 non-null  float64
 31  mouse_hor_ver_perc                 73802 non-null   float64
 32  count_similar_amount_merchant_L7D  364342 non-null  float64
 33  phone_tilt                         79371 non-null   float64
 34  device_score                       263376 non-null  float64
 35  count_similar_device_L1M           364342 non-null  float64
 36  count_similar_device_L7D           364342 non-null  float64
 37  bh_score                           73802 non-null   float64
 38  addr_dist                          364342 non-null  float64
 39  network_speed                      321824 non-null  float64
dtypes: float64(29), int64(5), object(6)
memory usage: 111.2+ MB

Shularyn hemmesindaki missing valuelerine mean bilen doldurdym

In [18]:
df['scrolling_speed'] = df['scrolling_speed'].fillna(df['scrolling_speed'].mean())
df['network_latency'] = df['network_latency'].fillna(df['network_latency'].mean())
df['battery_score'] = df['battery_score'].fillna(df['battery_score'].mean())
df['bot_score'] = df['bot_score'].fillna(df['bot_score'].mean())
df['fraud_centrality'] = df['fraud_centrality'].fillna(df['fraud_centrality'].mean())
df['between_centrality'] = df['between_centrality'].fillna(df['between_centrality'].mean())
df['network_dist'] = df['network_dist'].fillna(df['network_dist'].mean())
df['anomaly_score'] = df['anomaly_score'].fillna(df['anomaly_score'].mean())
df['phone_tilt'] = df['phone_tilt'].fillna(df['phone_tilt'].mean())
df['device_score'] = df['device_score'].fillna(df['device_score'].mean())
df['bh_score'] = df['bh_score'].fillna(df['bh_score'].mean())
df['network_speed'] = df['network_speed'].fillna(df['network_speed'].mean())
df['mouse_hor_ver_perc'] = df['mouse_hor_ver_perc'].fillna(df['mouse_hor_ver_perc'].mean())
df['network_category'] = df['network_category'].fillna(df['network_category'].mean())
df['proxy_ip'] = df['proxy_ip'].fillna(df['proxy_ip'].mode()[0])
df['mouse_speed'] = df['mouse_speed'].fillna(df['mouse_speed'].mean())
df['cursor_velocity'] = df['cursor_velocity'].fillna(df['cursor_velocity'].mean())

In [19]:
df.head()

,Unnamed: 0,payment_id,client_id,transaction_date,amount_usd,card_scheme,fraud,mcc,transaction_lever,country_code,...,anomaly_score,mouse_hor_ver_perc,count_similar_amount_merchant_L7D,phone_tilt,device_score,count_similar_device_L1M,count_similar_device_L7D,bh_score,addr_dist,network_speed
0,17,17,384,2019-01-02 00:04:28,100.00,mastercard,0,finance,3,country_87.0,...,0.460551,4.166667,0.0,-82.00000,0.220637,0.0,0.0,0.00000,0.0,0.094202
1,19,19,384,2019-01-02 00:05:30,186.00,visa,0,retail,1,country_87.0,...,0.000000,4.238480,0.0,-82.10621,0.208333,2.0,0.0,0.05956,0.0,0.007247
2,27,27,688,2019-01-02 00:09:32,47.95,visa,0,retail,3,country_87.0,...,1.111111,4.238480,0.0,-82.10621,0.208333,0.0,0.0,0.05956,0.0,0.207419
3,28,28,688,2019-01-02 00:09:33,20.00,mastercard,0,retail,2,country_87.0,...,0.000000,4.238480,0.0,-82.10621,0.220637,0.0,0.0,0.05956,50.0,0.022936
4,29,29,695,2019-01-02 00:09:39,36.99,visa,0,retail,2,country_87.0,...,0.000000,4.238480,0.0,-82.10621,0.208333,0.0,0.0,0.05956,0.0,0.036342

In [20]:
df.drop(['transaction_date'], axis=1, inplace=True)

In [21]:
columns = [col for col in df.columns if df[col].dtype == "object"]

In [22]:
columns  #Shul kolumnlara one-hot encode etdim we transaction date wagtlayyn ayyrdym

['card_scheme', 'mcc', 'country_code', 'card_type', 'proxy_ip']

In [23]:
def category_onehot_multcols(multcolumns):
    df_final = final_df
    i = 0
    for fields in multcolumns:
        print(fields)
        df1=pd.get_dummies(final_df[fields], drop_first=True)

        final_df.drop([fields], axis=1, inplace=True)
        if i == 0:
            df_final=df1.copy()
        else:
            df_final=pd.concat([df_final, df1], axis=1)
        i = i+1

    df_final=pd.concat([final_df, df_final], axis=1)

    return df_final

In [24]:
final_df = df.copy()

In [25]:
final_df=category_onehot_multcols(columns)

card_scheme
mcc
country_code
card_type
proxy_ip

In [18]:
final_df.shape

(364342, 103)

In [26]:
final_df.head()

,Unnamed: 0,payment_id,client_id,amount_usd,fraud,transaction_lever,issue_bank_code,network_category,bin_score,ch_score,...,country_88.0,country_89.0,country_96.0,country_97.0,country_98.0,country_nan,credit,debit,debit or credit,NotFound
0,17,17,384,100.00,0,3,150.0,166.000000,0.931604,0.322373,...,False,False,False,False,False,False,True,False,False,True
1,19,19,384,186.00,0,1,150.0,189.943011,0.706622,0.514022,...,False,False,False,False,False,False,False,True,False,True
2,27,27,688,47.95,0,3,150.0,189.943011,0.650082,0.398479,...,False,False,False,False,False,False,False,True,False,True
3,28,28,688,20.00,0,2,150.0,189.943011,0.813665,0.299005,...,False,False,False,False,False,False,False,True,False,True
4,29,29,695,36.99,0,2,150.0,189.943011,0.693608,0.295137,...,False,False,False,False,False,False,False,True,False,True

In [27]:
y = final_df['fraud']

In [28]:
X = final_df.drop(['fraud'], axis=1)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [30]:
import xgboost
classifier = xgboost.XGBRegressor()
classifier.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [31]:
y_pred=classifier.predict(X_valid)

In [32]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [33]:
mean_absolute_error(y_valid, y_pred)

0.013158715111008624

In [34]:
mean_squared_error(y_valid, y_pred)

0.0062928146911586935

In [35]:
classifier.score(X_valid, y_valid)

0.238215917613121

In [36]:
res = []

for i in range(len(y_pred)):
    if y_pred[i] >= 0.5:
        res.append(1)
    else:
        res.append(0)

y_pred_round = np.array(res)

In [37]:
from sklearn.metrics import accuracy_score

accuracy_score(y_valid, y_pred_round)

0.9931795413687576